body {
  font-family: Product Sans;
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 12px;
  }
  .side3 {
    display: none;
  }
}

@media (max-width: 991.98px) {
  body,
  html {
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  body,
  html {
    font-size: 12px;
  }
}

.row {
  height: 100%;
  background: #ffffff;
}

.side3 {
  padding-left: 0rem;
  height: 100%;
  background: linear-gradient(
    313.99deg,
    rgba(221, 122, 120, 0.8) 0%,
    #d36462 71.12%
  );
}

.side4 {
  background: #ffffff;
}

.icon {
  display: flex;
}
.icon i {
  margin-left: 0.9375rem;
  margin-top: 0.625rem;
  font-size: 1.875rem;
  color: #ffffff;
}
.icon p {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  margin-top: 0.625rem;
  font-size: 1.25rem;
  color: #312d2f;
}

.icn {
  margin-top: 3.125rem;
}

.move {
  color: #ffffff;
  padding-top: 3.125rem;
  text-align: center;
}

.move button:hover {
  background-color: #fff;
  transition: 0.5s;
}

.move h3 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
}

.move p {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
}

/* Shapes */
.grad5 {
  height: 3.75rem;
  width: 3.75rem;
  margin-top: 3.125rem;
  margin-left: 80%;
  transform: rotate(-45deg);
  background: rgba(246, 241, 232, 0.1);
}

.grad6 {
  display: flex;
  margin-left: 75%;
  position: absolute;
  height: 9.375rem;
  width: 9.375rem;
  clip-path: polygon(100% 0, 100% 58%, 40% 90%);
  background: rgba(246, 241, 232, 0.1);
}
.grad7 {
  margin-left: 85%;
  height: 3.75rem;
  width: 3.125rem;
  clip-path: polygon(54% 18%, 92% 39%, 66% 96%, 27% 75%);
  background: rgba(246, 241, 232, 0.1);
}

@media (min-width: 1200px) {
  .grad8 {
    margin-left: 0rem;
    position: absolute;
    height: 9rem;
    width: 8.75rem;
    clip-path: circle(100% at 0 100%);
    background: rgba(246, 241, 232, 0.1);
  }
}
