/***
Body style
**/

body {
  background-color: #f1f2f6;
}

/***
General Styling
***/

h1 {
  font-family: 'Tomorrow', sans-serif;
  color: #393c79;
}
input {
  border-color: ;
}
h5 {
  font-family: 'Slabo 27px', serif;
  color: #2f3640;
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #8395a7;
}
.b {
  width: 100px;
}
.b-container {
  height: 200px;
}

li {
  color: #e67e22;
}

/**
  Adminsect Style
***/
.border {
  border-color: #f79f1f;
}

label {
  font-weight: bold;
  font-size: 18px;
}

.fas {
  font-size: 15px;
}

i {
  text-align: right;
}

i {
  font-size: 45px;
  color: #dd7d22;
  font-weight: bolder;
}
.form-label {
  color: #f79f1f;
}

/**
MODAL
**/
.fixed {
  bottom: 0;
  right: 220px;
  position: fixed;
}

.modal-title {
  color: #393c79;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.b-style {
  width: 100%;
  color: red;
  background-color: #27ae60;
}

/***
  Login Style
**/

.btn-log button {
  width: 300px;
}

/***
UserComment Style
**/

.comment .btn {
  width: 420px;
}

/***
Suggestion list Styles
***/

.p-comment {
  font-size: 18px;
  font-weight: normal;
  color: blueviolet;
}
