/***
Body style
**/

body {
  background-color: #f1f2f6;
}

/***
General Styling
***/

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #393c79;
}
input {
  border-color: ;
}
h5 {
  font-family:  'Quicksand', sans-serif;
  font-weight: bold;
  color: #e11c1c;
}
p {
  font-family: Quicksand', sans-serif;
  font-family: 'Abel', sans-serif;
}
.b {
  width: 100px;
}
.b-container {
  height: 200px;
}

li {
  color: #e67e22;
}

/**
  Adminsect Style
***/
.border {
  border-color: #f79f1f;
}

label {
  font-weight: bold;
  font-size: 18px;
}

.fas {
  font-size: 15px;
}

i {
  text-align: right;
}

i {
  font-size: 45px;
  color: #dd7d22;
  font-weight: bolder;
}
.form-label {
  color: #f79f1f;
}

/**
MODAL
**/
.fixed {
  bottom: 0;
  right: 220px;
  position: fixed;
}

.modal-title {
  color: red;
  margin-left: auto;
}
.b-style {
  width: 100%;
}

/***
  Login Style
**/

.btn-log button {
  width: 300px;
}

/***
UserComment Style
**/

.comment .btn {
  width: 420px;
}
