@import './variables';
@import './functions';

.b-p {
  padding-left: 0.5rem;
  margin-left: auto;
  width: 3.125rem;
}

.modal-body button {
  @include style();
  font-size: 1.0625rem;
  font-weight: bold;
  margin-top: 50px;
  color: $initialColor;
  background: $primaryColor;
  width: 11rem;
  padding-left: 2.1875rem;
  height: 3.125rem;
  border: 0.125rem solid $initialColor;
  box-sizing: border-box;
  border-radius: 6.25rem;
  &:hover {
    background: $primaryColor;
    border: none;
    color: $secondaryColor;
    cursor: pointer;
  }
}
.modal-body {
  @include style();
  font-size: 1.0625rem;
  font-weight: bold;
}
.modal-header {
  @include style();
  font-weight: bold;
  color: $primaryColor;
  font-size: 1.0625rem;
  font-weight: bold;
}
