@import './variables';

.grad1 {
  height: 3.75rem;
  width: 3.75rem;
  margin-top: 3.125rem;
  margin-left: 6.25rem;
  transform: rotate(-45deg);
  background: $shapeColor;
}
.grad2 {
  margin-top: 4.375rem;
  display: flex;
  margin-left: -0.9375rem;
  position: absolute;
  height: 9.375rem;
  width: 9.375rem;
  clip-path: polygon(0 0, 0 51%, 45% 84%);
  background: $shapeColor;
}
.grad3 {
  margin-top: 1.25rem;
  margin-left: 3.125rem;
  position: absolute;
  height: 3.75rem;
  width: 3.125rem;
  clip-path: polygon(0 25%, 38% 0, 69% 75%, 31% 100%);
  background: $shapeColor;
}

@media (min-width: 1200px) {
  .grad4 {
    margin-top: 0rem;
    margin-left: 62%;
    position: absolute;
    height: 13rem;
    width: 13.3rem;
    clip-path: circle(90% at 90% 100%);
    background: $shapeColor;
  }
}

//Signup

.grad6 {
  display: flex;
  margin-left: 75%;
  position: absolute;
  height: 9.375rem;
  width: 9.375rem;
  clip-path: polygon(100% 0, 100% 58%, 40% 90%);
  background: rgba(246, 241, 232, 0.1);
}
.grad7 {
  margin-left: 85%;
  height: 3.75rem;
  width: 3.125rem;
  clip-path: polygon(54% 18%, 92% 39%, 66% 96%, 27% 75%);
  background: rgba(246, 241, 232, 0.1);
}

@media (min-width: 1200px) {
  .grad8 {
    margin-left: 0rem;
    position: absolute;
    height: 9.8rem;
    width: 9.8rem;
    clip-path: circle(100% at 0 100%);

    background: rgba(246, 241, 232, 0.1);
  }
}
