@import './variables';
@import './functions';

#body-row {
  margin-left: 0;
  margin-right: 0;
}
#sidebar-container {
  min-height: 100vh;
  background: #d36462;
  padding: 0;
}

//  Sidebar sizes when expanded
.sidebar-expanded {
  width: 14rem;
  font-size: 0.9375rem;
  justify-content: center;
  .line {
    border: 0.0625rem solid rgba(157, 157, 157, 0.5);
    width: 12rem;
  }
  a,
  a:visited {
    color: #fff;
    background: #d36462;
    width: 10.625rem;
    padding: 0.9375rem;
    &:hover {
      border-radius: 0.1875rem;
      width: 11.25rem;
    }
    &:active {
      border-radius: 0.3125rem;
    }
  }
}
.sidebar-collapsed {
  width: 7rem;
  font-size: 0.9375rem;
  a,
  a:visited {
    color: #fff;
    background: #d36462;
    padding: 1.125rem;
    width: 4.5rem;
    &:hover {
      border-radius: 0.1875rem;
      width: 4.5rem;
    }
  }
}

.b-st {
  border: none;
  border-radius: none;
  padding: 0.9375rem;
  color: #fff;
  background: #d36462;
  &:active {
    background: #000;
    color: blue;
    background-color: black;
  }
}
.list-group a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.logo-s {
  justify-content: center;
  font-size: 1.125rem;
  display: flex;
  margin: auto;
  width: 8rem;
  color: #fff;
  span {
    @include style();
    color: #000;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.line {
  border: 0.0625rem solid rgba(157, 157, 157, 0.5);
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 5rem;
}

.menu-down {
  margin-bottom: auto;
}
.menu-down {
  padding-top: 8rem;
}
