.grad1 {
  height: 3.75rem;
  width: 3.75rem;
  margin-top: 3.125rem;
  margin-left: 6.25rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: rgba(246, 241, 232, 0.1);
}

.grad2 {
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.9375rem;
  position: absolute;
  height: 9.375rem;
  width: 9.375rem;
  -webkit-clip-path: polygon(0 0, 0 51%, 45% 84%);
          clip-path: polygon(0 0, 0 51%, 45% 84%);
  background: rgba(246, 241, 232, 0.1);
}

.grad3 {
  margin-top: 1.25rem;
  margin-left: 3.125rem;
  position: absolute;
  height: 3.75rem;
  width: 3.125rem;
  -webkit-clip-path: polygon(0 25%, 38% 0, 69% 75%, 31% 100%);
          clip-path: polygon(0 25%, 38% 0, 69% 75%, 31% 100%);
  background: rgba(246, 241, 232, 0.1);
}

@media (min-width: 1200px) {
  .grad4 {
    margin-top: 0rem;
    margin-left: 62%;
    position: absolute;
    height: 13rem;
    width: 13.3rem;
    -webkit-clip-path: circle(90% at 90% 100%);
            clip-path: circle(90% at 90% 100%);
    background: rgba(246, 241, 232, 0.1);
  }
}

.grad6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 75%;
  position: absolute;
  height: 9.375rem;
  width: 9.375rem;
  -webkit-clip-path: polygon(100% 0, 100% 58%, 40% 90%);
          clip-path: polygon(100% 0, 100% 58%, 40% 90%);
  background: rgba(246, 241, 232, 0.1);
}

.grad7 {
  margin-left: 85%;
  height: 3.75rem;
  width: 3.125rem;
  -webkit-clip-path: polygon(54% 18%, 92% 39%, 66% 96%, 27% 75%);
          clip-path: polygon(54% 18%, 92% 39%, 66% 96%, 27% 75%);
  background: rgba(246, 241, 232, 0.1);
}

@media (min-width: 1200px) {
  .grad8 {
    margin-left: 0rem;
    position: absolute;
    height: 9.8rem;
    width: 9.8rem;
    -webkit-clip-path: circle(100% at 0 100%);
            clip-path: circle(100% at 0 100%);
    background: rgba(246, 241, 232, 0.1);
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9d9d9d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d36462;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 0.0625rem #2196f3;
          box-shadow: 0 0 0.0625rem #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  font-family: Product Sans;
}

@media (max-width: 35.9988rem) {
  body,
  html {
    font-size: 0.75rem;
  }
  .side2 {
    display: none;
  }
}

@media screen and (max-width: 48rem) {
  body,
  html {
    font-size: 0.75rem;
  }
  .side2 {
    display: none;
  }
}

@media (max-width: 61.9988rem) {
  body,
  html {
    font-size: 0.75rem;
  }
}

@media (max-width: 61.9988rem) {
  body,
  html {
    font-size: 0.75rem;
  }
}

.side {
  height: 100%;
  background: #fff;
}

.side1 {
  background: #fff;
}

.side2 {
  background: linear-gradient(313.99deg, rgba(221, 122, 120, 0.8) 0%, #d36462 71.12%);
}

body {
  background: #e5e5e5;
  height: 100%;
  width: 100%;
}

.user-comment textarea {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  color: #d36462;
  font-size: 1.0625rem;
}

.user-comment button {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 1.0625rem;
  padding-left: 2.5rem;
  font-weight: bold;
  margin-top: 3.125rem;
  color: #fff;
  background: #d36462;
  width: 10rem;
  height: 3.125rem;
  border: 0.125rem solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.25rem;
}

.user-comment button:hover {
  color: #312d2f;
  cursor: pointer;
}

form span {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-weight: bolder;
  font-size: 1.125rem;
  color: #d36462;
}

#body-row {
  margin-left: 0;
  margin-right: 0;
}

#sidebar-container {
  min-height: 100vh;
  background: #d36462;
  padding: 0;
}

.sidebar-expanded {
  width: 14rem;
  font-size: 0.9375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-expanded .line {
  border: 0.0625rem solid rgba(157, 157, 157, 0.5);
  width: 12rem;
}

.sidebar-expanded a,
.sidebar-expanded a:visited {
  color: #fff;
  background: #d36462;
  width: 10.625rem;
  padding: 0.9375rem;
}

.sidebar-expanded a:hover,
.sidebar-expanded a:visited:hover {
  border-radius: 0.1875rem;
  width: 11.25rem;
}

.sidebar-expanded a:active,
.sidebar-expanded a:visited:active {
  border-radius: 0.3125rem;
}

.sidebar-collapsed {
  width: 7rem;
  font-size: 0.9375rem;
}

.sidebar-collapsed a,
.sidebar-collapsed a:visited {
  color: #fff;
  background: #d36462;
  padding: 1.125rem;
  width: 4.5rem;
}

.sidebar-collapsed a:hover,
.sidebar-collapsed a:visited:hover {
  border-radius: 0.1875rem;
  width: 4.5rem;
}

.b-st {
  border: none;
  border-radius: none;
  padding: 0.9375rem;
  color: #fff;
  background: #d36462;
}

.b-st:active {
  background: #000;
  color: blue;
  background-color: black;
}

.list-group a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.logo-s {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 8rem;
  color: #fff;
}

.logo-s span {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.line {
  border: 0.0625rem solid rgba(157, 157, 157, 0.5);
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 5rem;
}

.menu-down {
  margin-bottom: auto;
}

.menu-down {
  padding-top: 8rem;
}

.b-p {
  padding-left: 0.5rem;
  margin-left: auto;
  width: 3.125rem;
}

.modal-body button {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 1.0625rem;
  font-weight: bold;
  margin-top: 50px;
  color: #fff;
  background: #d36462;
  width: 11rem;
  padding-left: 2.1875rem;
  height: 3.125rem;
  border: 0.125rem solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.25rem;
}

.modal-body button:hover {
  background: #d36462;
  border: none;
  color: #312d2f;
  cursor: pointer;
}

.modal-body {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 1.0625rem;
  font-weight: bold;
}

.modal-header {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  color: #d36462;
  font-size: 1.0625rem;
  font-weight: bold;
}

@media screen and (max-width: 48rem) {
  body,
  html {
    font-size: 0.75rem;
  }
  .side3 {
    display: none;
  }
}

@media (max-width: 61.9988rem) {
  body,
  html {
    font-size: 0.75rem;
  }
}

@media (max-width: 61.9988rem) {
  body,
  html {
    font-size: 0.75rem;
  }
}

.row {
  height: 100%;
  background: #fff;
}

.side3 {
  padding-left: 0px;
  height: 100%;
  background: linear-gradient(313.99deg, rgba(221, 122, 120, 0.8) 0%, #d36462 71.12%);
}

.side4 {
  background: #fff;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon i {
  margin-left: 0.9375rem;
  margin-top: 0.625rem;
  font-size: 1.875rem;
  color: #fff;
}

.icon p {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  margin-top: 0.625rem;
  font-size: 1.25rem;
  color: #312d2f;
}

.icn {
  margin-top: 3.125rem;
}

.move {
  color: #fff;
  padding-top: 9.125rem;
  text-align: center;
}

.move button:hover {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.move h3 {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
}

.move p {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
}

.sign-text {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #d36462;
  font-weight: bold;
  font-size: 1.875rem;
  margin-top: 1.125rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo i {
  margin-left: 0.9375rem;
  margin-top: 0.9375rem;
  font-size: 1.5625rem;
  color: #d36462;
}

p {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

button {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 1.0625rem;
  font-weight: bold;
  margin-top: 3.125rem;
  color: #fff;
  background: #d36462;
  width: 12.5rem;
  height: 3.125rem;
  border: 0.125rem solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.25rem;
}

button:hover {
  color: #312d2f;
  cursor: pointer;
}

.justify {
  color: #fff;
  margin-top: 6.25rem;
  text-align: center;
}

.justify h3 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
}

.justify button:hover {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.justify p {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
}

.b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b a:hover {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #d36462;
}

.brand {
  font-weight: bold;
  height: 3.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 3.125rem;
  border-radius: 50%;
  border: 0.125rem solid #e5e5e5;
  color: #312d2f;
  text-align: center;
  margin-left: 1.25rem;
}

.brand i {
  padding-top: 0.9375rem;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-form {
  padding-top: 2.5rem;
}

.my-form p {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  color: #9d9d9d;
  text-align: center;
  font-size: 1.0625rem;
}

.my-form input {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  border: none;
  background: rgba(49, 45, 47, 0.05);
  border-radius: 0.25rem;
  height: 3.75rem;
  width: 70%;
  font-size: 1.25rem;
  color: #9d9d9d;
}

.my-form .align {
  padding-top: 0.625rem;
  text-align: center;
}

.my-form .align a {
  color: #312d2f;
}

.my-form .align button {
  font-weight: bold;
  margin-top: 1.25rem;
  font-size: 17px;
  border: none;
  width: 12.5rem;
  height: 3.125rem;
  background: #d36462;
  border-radius: 6.25rem;
}

.my-form i {
  height: 3.125rem;
  font-size: 1.875rem;
  color: #9d9d9d;
}

::-webkit-input-placeholder {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  padding-left: 1.25rem;
}

:-ms-input-placeholder {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  padding-left: 1.25rem;
}

::-ms-input-placeholder {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  padding-left: 1.25rem;
}

::placeholder {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  padding-left: 1.25rem;
}

.underline {
  border: 0.0625rem solid rgba(157, 157, 157, 0.5);
  margin: auto;
  width: 10rem;
}

.a {
  margin-top: 1.875rem;
}

.justify {
  color: #fff;
  margin-top: 6.25rem;
  text-align: center;
}

.justify h3 {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
}

.justify button {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  margin-top: 3.125rem;
  color: #fff;
  background: #d36462;
  width: 12.5rem;
  height: 3.125rem;
  border: 0.125rem solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.25rem;
  font-weight: bold;
}

.justify button:hover {
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #312d2f;
}

.justify p {
  font-family: Product Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
}

table {
  table-layout: fixed;
}

table td {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */